<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Display</title>
    <link rel="stylesheet" type="text/css" href="../static/web.css">
</head>
<body>
    <div class="header-container">
        <h2>Real Time Stock Price Tracker | Trading Hours: 9:30 AM to 4:00 PM EST</h2>
    </div>
    <form id="add-ticker-symbol">
        <input type="text" id="new-ticker" placeholder="Add ticker" required>
        <button type="submit" id="add">Add</button>
    </form>
    <p id="timer">Next update in <span id="counter"></span> seconds</p>
    <div id="error-message"></div>
    <div id="tickers-grid"></div>
    <script src="../static/web.js"></script>
</body>
</html>
